﻿
.row { 
    margin: 0!important; 
    padding: 0!important;

}

.green {

    color:green;

}
.red {
    color:red;
}

.txtBigBox {

    width:325px!important;
    max-width:350px!important;

}
.txtMediumBox{
        width:150px!important;
    max-width:185px!important;
}
.smallBox{

    width:100px!important;
    max-width:125px!important;

}

.gridsmallbox{

        width:75px!important;
    max-width:75px!important;

}
.gridxsbox{

        width:50px!important;
    max-width:50px!important;

}
.smallLb{

    width:25px!important;

}
.body {

    background-color:White!important;
}


 .detailTable tr td
    { 
         /*display: table!important ;
    border-collapse: separate!important ;
    border-spacing: 0px!important ;
    border-color: white!important ;*/
    border: none!important;
        padding-top: 0!important;
    }

 .secondDetailTable 
 {

     margin-left:150px !important;
 }


.gridMediumbox{

        width:100px!important;
    max-width:110px!important;

}

.txtDates{

    display: block;
    width: 100%;
    max-width:250px!important;
    height: 34px !important;
    /*padding: 6px;
    padding-left:-12px!important;*/
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    /*border: 1px solid #ccc;
    border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

