﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.master" CodeBehind="Admin.aspx.vb" Inherits="pmp_V3.Admin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    
    <div class="row">
        <div class="container-fluid">
            <div class="col-sm-3 col-md-2 sidebar">

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



            </div>
        </div>


    </div>


</asp:Content>
